.course {
    margin-bottom: 600px;
    margin-top:200px;

}

.header {
  composes: heading from '../common/typography';
    margin-top:50px;
    font-size:50px;
    text-align: center;
}

.description {
  composes: normal from '../common/typography';
    margin-top:50px;
    text-align: center;

}

.contribute {
  composes: small from '../common/typography';
    text-align: center;

}
